--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
llama-index
llama-index-vector-stores-qdrant
llama-index-llms-groq
llama-index-embeddings-huggingface
qdrant-client
python-dotenv
torch